<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>
<% rows.forEach(function(r) { %>

<form class="table" action="/<%= r.id %>" method="get">
			<input style="width:<%= r.size %>px; height:<%= r.height %>px; background-color:<%= r.type %>;" type="submit" id=<%= r.id %> value=<%= r.name %>>
</form>
    <% }); %>
</div>

</body>
</html>
